<section id="heroes">
    {{#each faves}}
      <div class="hero-container">
          <a href="/{{fave_title}}">
             <img src="/images/{{fave_img}}" alt="fave">
          </a>

          <h3 class="fave-title">{{fave_title}}</h3>
      </div>
    {{/each}}

</section>
