.detailTitle{letter-spacing: 1px;font-size: 20px;}
#ditailTextArea h3{color: white;
    text-shadow: 2px 2px 4px #000000;font-size: 1.8em;}

#detailImgArea img{float: left;margin: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.8rem; 
    border-block-end-color: aliceblue;
 }

 #detailImgArea img:hover{opacity: 0.9;}
//  .detailTitle{float: right}
//  #ditailTextArea p{float: right}

#ditailTextArea{margin:100px;line-height: 2em;}

#detailImgArea h1{text-align: center}